@mixin dark-mode {
  color: var(--color-default);
  background-color: var(--color-modal-background-dark) !important;
}

.modal-content {
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--color-modal-background);

  @media screen and (prefers-color-scheme: dark) {
    @include dark-mode;

    .form-control, .form-control:focus {
      @include dark-mode;
    }
  }
}
