html,
body {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
}

body {
    top: env(safe-area-inset-top);

    @media screen and (prefers-color-scheme: light) {
        background-color: var(--color-default) !important;
    }
    @media screen and (prefers-color-scheme: dark) {
        background-color: var(--color-default-dark) !important
    }
}

input:focus {
    outline: none;
}

label {
    width: 100%;
}

table {
    font-size: 12px;
}

td:first-child {
    white-space: nowrap;
    font-weight: 600;
    padding-right: 10px;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(204, 198, 203, 0.54);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(143, 139, 142, 0.54);
}
