/* Custom variables */
:root{
  --sidebar-width: 250px;
  --main-header-height: 60px;
  --main-header-height-mobile: 44px;
  --footer-height: 60px;
  --footer-height-mobile: 50px;
  --font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

/* Custom colors */
$mColorPrimary: #88c871;
$mColorDefault: #F4F4F4;
$mColorDefaultDark: #161616;
$mColorBorder: #DBDBDB;
$mColorBorderDark: #414242;

$mColorUserStatusOnline: #86BB71;
$mColorUserStatusAway: #DA9D3E;

$theme-colors: () !default;
$theme-colors: map-merge(
(
  'color-primary': $mColorPrimary,
  'color-default': $mColorDefault,
  'color-default-dark': $mColorDefaultDark,
  'color-border': $mColorBorder,
  'color-border-dark': $mColorBorderDark,
  'color-user-status-online': $mColorUserStatusOnline,
  'color-user-status-away': $mColorUserStatusAway,
),
$theme-colors
);
