@include media-breakpoint-down(xs) {
    .us-none {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.blur {
    filter: blur(5px);
}

.emoji {
    padding: 0 3px;

    &.big {
        font-size: 50px;
        line-height: 60px;
    }
}
