:root {
    --sidebar-width: 230px;
    --main-header-height: 60px;
    --main-header-height-mobile: 44px;
    --footer-height: 60px;
    --font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    --primary-color: #333a4b;
}
