:root {
    --sidebar-width: 230px;
    --main-header-height: 60px;
    --main-header-height-mobile: 44px;
    --footer-height: 60px;
    --font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    --color-primary: #88c871;
    --color-default: #F4F4F4;
    --color-border-light: #DBDBDB;
}
